<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    {% include header.html %} <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h1 class="card-heading">
              <a href="{{ page.url | prepend:site.github.url }}">
                {{ page.title }}
              </a>
            </h1>
            <div class="article-header-note">
              {{ page.date | date: "%Y年%m月%d日" }}
            </div>
          </header>
          <section class="card-body markdown">
            <iframe src="https://embed.podcasts.apple.com/us/podcast/{{ page.path }}-%E7%AB%B6%E6%8A%80%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0/id1490185781?i=1000500580896&amp;itsct=podcast_box&amp;itscg=30200" height="175px" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media *;" style="width: 100%; max-width: 660px; overflow: hidden; border-radius: 10px; background: transparent;"></iframe>
	  </section>
          <section class="card-body markdown">
            <p>
              <audio
                class="mejs-player"
                controls=""
                data-mejsoptions='{"alwaysShowControls": true, "alwaysShowHours": true, "enableAutosize": true, "features": ["playpause", "progress", "current", "duration", "volume", "speed"]}'
                preload="auto"
                src="{{ page.audio_file_path | prepend:site.lfs_path }}"
                width="100%"
                onplay="ga('send', 'event', 'Podcasts', 'Play', '{{ page.audio_file_path }}')"
              >
              </audio>
            </p>
            <p class="text-right">
              <small>
                  <a href="{{ page.audio_file_path | prepend:site.lfs_path }}" onclick="ga('send', 'event', 'Podcasts', 'Download', '{{ page.audio_file_path }}')">MP3ファイルをダウンロード</a>
              </small>
            </p>
            <h2>
              内容紹介
            </h2>
	    <pre>{{ page.description }}</pre>
            <h2>
              出演者
            </h2>
            <div class="article-actors">
              {% for actor_id in page.actor_ids %}
                {% assign actor = site.actors[actor_id] %}
                <a href="{{ actor.url }}" class="actor" target="_blank">
                  <img src="{{ actor.image_url | prepend:site.github.url }}" alt="{{ actor.name }}" class="actor-image" width="72" height="72">
                  <br>
                  {{ actor.name }}
                </a>
              {% endfor %}
            </div>
            {{ content }}
          </section>
          <footer class="article-footer">
            <ul>
              <li>
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.github.url }}{{ page.url }}&text={{ page.title }}">
                  Tweet
                </a>
              </li>
              <li>
                <div class="fb-share-button"
                  data-href="{{ site.github.url }}{{ page.url }}"
                  data-layout="button_count">
                </div>
              </li>
            </ul>
          </footer>
        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
